<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>画像表示</title>
  <script>
    // 一定時間ごとにページをリロード（例：5秒）
    setInterval(() => {
      location.reload();
    }, 3000);
  </script>
</head>
<body>
  <h1>画像表示</h1>
  {% if show_buttons %}
    <div style="margin-bottom: 10px;">
      <a href="{{ url_for('prev_image') }}"><button>前へ</button></a>
      <a href="{{ url_for('next_image') }}"><button>次へ</button></a>
    </div>
  {% endif %}
  <img src="{{ url_for('static', filename=image_file) }}" width="500"><br><br>
</body>
</html>
